section.dashboard-view .indicator {
  width: 40%;
  border: 1px solid grey;
  padding: 1rem;
  height: 4rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
section.dashboard-view .indicator.align-left {
  margin-left: 5%;
}
section.dashboard-view .indicator.align-right {
  margin-right: 5%;
}

section.dashboard-view li {
  width: 80%;
  border: 1px solid grey;
  height: 4rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

section.dashboard-view .summary-container {
  padding: 1rem;

}

section.dashboard-view li div {
  display: inline-block;
}

section.dashboard-view li div {
  margin-right: 1rem;
  margin-left: 2rem;
}

section.dashboard-view img.activity {
  width: 48px;
  height: 48px;
}
section.dashboard-view .time {
  float: right;
}

